@import "tailwindcss";
@import "./styles/components.css";
@plugin "daisyui";

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
